/**
 VERRUKKULLUK MAIN.CSS
 */


:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}

/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
    max-width: 1100px;
    margin: auto;
}

.content {    
    -webkit-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    font-size:14px;    
}

.content-detail {    
    -webkit-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    font-size:14px;
    padding: 0px;
}    

.content-detail-container {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
}

.recipe-detail {
    -webkit-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    font-size:14px;
    padding: 0px;
}    

.recipe-detail-container {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 60px;
    position: relative;
    height: 365px;
}

.recipe-content {
    background-color: white;
    color: black;
    padding: 15px; 
    height: 200px;
    position: relative;
}

.smullen-button {
    width: 100px;
    height: 35px;
    background-color: var(--lighter-red);
    color: white;
    font-family: var(--heading);
    font-size: 24px;
    border: 0px solid transparent;
    border-radius: 25px; 
    position: absolute;
    bottom: 10px;
    left: 10px; 
}

.list-button {
    width: 100px;
    height: 35px;
    background-color: var(--lighter-red);
    color: white;
    font-family: var(--heading);
    font-size: 24px;
    border: 0px solid transparent;
    border-radius: 25px;
    position: absolute;
    bottom: 20px;
}



.navigation {
    width: auto;  
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/background.jpg");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:500px;
    position: relative;
    margin-bottom: 40px;   
}

.navigation-detail {
    width: auto;  
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:500px;
    position: relative;
    margin-bottom: 40px;   
}

.menu-logo {
    position: absolute;
    top: 20px;
    left: 40px;
    height: 125px
}

.menu-search {
    position: absolute;
    top: 28px;
    right: 100px;

    background-color: white;
    color: black;
    font-size: 16px;
    border: 0px solid transparent;
    border-radius: 15px;
    
    align-content: center;
    
    width: 300px;
    height: 35px;
    padding: 5px;
}

.menu-button {
    position: absolute;
    top: 20px;
    right: 40px;     
}

.menu-button-trigger {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0,4s ease;
    z-index: 5000 !important;
}

.menu-button-trigger:hover .dropdown {
    top: 0px;
}

.dropdown {
    position: fixed;
    top: -400px;
    left: 0;
    right: 0;
    height: 150px;
    background-color: #FFF;
    transition: all 0.4s ease;
    padding: 40px;
    color: var(--lighter-red) ;
    font-family: var(--heading);
    font-size: 30px;
    -webkit-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    border-color: black !important;
    border: 1px solid;
}

.dropdown-text {
    margin-top: 20px;
}

.agenda-container {
    background-color: var(--lighter-green) !important;
    height: 525px !important;
    -webkit-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
}

.agenda-image {
    height: 60px;
    width: 120px;
    margin-top: 20px;
    margin-left: 90px;
}

.agenda-text-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    height: 60px;
}

.agenda-text {
    margin-bottom: 0px;
}

.agenda-icon{
    color: white;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 5px;
    height: 30px;
}

.login-container {
    background-color: var(--darker-red);
    height: 260px;
    margin-top: 40px;
    padding: 30px;
    -webkit-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.5);
}

.login-image {
    height: 55px;
    width: 105px;
    margin-top: -10px;
    margin-left: 60px
}

.login-text {
    color: white;
    font-size: 10px;
}

.recipe-image {
    width: 100%;
    height: 200px;
}

.recipe-image-detail {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 20% 80%;
}

.login-white-spaces {
    background-color: white;
    height: 20px;
    width: auto;
    margin-top: -15px;
    border: 0px solid transparent;
    border-radius: 2px;
}

.login-button {
    width: 150px;
    height: fit-content;
    background-color: var(--lighter-orange);
    color: white;
    font-family: var(--heading);
    font-size: 28px;
    border: 0px solid transparent;
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-top: 35px;
    padding: 0px;
}

.footer-container {
    background-color: var(--darker-orange);
    height: 200px;
    padding: 30px;
}

.footer-image {
    height: 70px;
    width: 70px;
    margin-left: 30px;
}

.footer-contact {
    height: 60px;
    width: 120px;
}

.footer-text {
    color: white;
    font-size: 10px;
}

.search-icon {
    height: 25px;
    width: 25px;
}

.search-text {
    color: gray;
    margin-left: 8px;
    font-size: 14px;
}

.menu-icon {
    height: 50px;
    width: 50px;
}

.dropdown-menu-logo {
    height: 100px;
    width: 250px;
    margin-top: -10px;
}

.short-description {
    color: black;
    font-size: 12px;
}

.recipe-icons {
    height: 15px;
    width: 18px;
}

.star-icons {
    height: 10px;
    width: 10px;    
}

.star-icons-detail {
    height: 15px;
    width: 15px;   
}

.stars {
    padding-top: 5px;
}

.stars-detail {
    padding-top: 5px;
    margin-top: 10px;
    margin-left: -10px;
}

.euro-sign {
    color: var(--lighter-red);
}

.recipe-title {
    color: var(--darker-green);
    font-size: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;
}

.recipe-title-detail {
    color: var(--darker-green);
    font-size: 34px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;
    margin-top: 10px;
}

.recipe-kitchen {
    color: var(--darker-green);
    font-size: 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;
    margin-top: 10px;
    font-family: var(--heading);
}

.recipe-kitchen-text {
    color: black;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;    
    margin-left: 15px;
}

.recipe-type-text {
    color: black;
    font-size: 13px;
    padding-left: 5px;    
    margin-left: 15px;
}

.recipe-type {
    color: var(--darker-green);
    font-size: 22px;  
    font-family: var(--heading);
    margin-left: 20px;
}

.recipe-info {
    position: absolute;
    bottom: 16px;
    right: -10px;
}

.recipe-info-detail {
    margin-top: 15px;
    margin-left: 5px;
}

.page-index {
    font-size: 8px;
    border: 1px solid;
    border-color: lightgray;
    padding: 5px;
    display: inline;    
}

.page-selection {
    text-align: center;
    font-size: 0px;
}

.long-description {
    font-size: 13px;
    color: black;
    padding-right: 38px;
    margin-left: 5px;
    margin-top: 10px;
    padding-bottom: 50px;
}

.type-container {
    justify-content: flex-end; 
}

.empty-heart-button {
    height: 35px;
    width: 35px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: transparent;
    border-color: transparent;
}

.empty-heart-icon {
    height: 35px;
    width: 35px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.empty-heart-container {
    display: flex;
}

.full-heart-button {
    height: 35px;
    width: 35px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: transparent;
    border-color: transparent;
}

.full-heart-icon {
    height: 35px;
    width: 35px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.full-heart-container {
    display: none;
}

.article-info-container {
    overflow-y: scroll;
    height: 260px;
    margin-top: 40px;
}

.article-info-container::-webkit-scrollbar {
    display: none;
}

.article-title {
    color: var(--darker-green);
    font-size: 30px;
    margin-bottom: -5px;
}

.comment-info-container {
    overflow-y: scroll;
    height: 260px;
    margin-top: 40px;
    margin-left: 40px;
}

.comment-info-container::-webkit-scrollbar {
    display: none;
}

.comment-title {
    color: var(--darker-green);
    font-size: 32px;
}

.step-info-container {
    overflow-y: scroll;
    height: 260px;
    margin-top: 40px;
    margin-left: 40px;
}

.step-info-container::-webkit-scrollbar {
    display: none;
}

.arrow-down-icon {
    height: 25px;
    width: 25px;
    position: absolute;
    left: 200px;
    bottom: 20px;
}

.recipe-info-button-ing {
    width: 150;
    height: 35px;
    background-color: white;
    color: var(--darker-green);
    font-family: var(--heading);
    font-size: 20px;
    border: 0px solid transparent;
    border-radius: 15px;
    position: absolute;
    top: -20px;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    z-index: 3;
}

.recipe-info-button-step {
    width: 150;
    height: 35px;
    background-color: white;
    color: var(--darker-green);
    font-family: var(--heading);
    font-size: 20px;
    border: 0px solid transparent;
    border-radius: 15px;
    position: absolute;
    top: -20px;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    z-index: 2;
}

.recipe-info-button-com {
    width: 150;
    height: 35px;
    background-color: white;
    color: var(--darker-green);
    font-family: var(--heading);
    font-size: 20px;
    border: 0px solid transparent;
    border-radius: 15px;
    position: absolute;
    top: -20px;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.recipe-info-button-ing2 {
    width: 150;
    height: 35px;
    background-color: white;
    color: var(--darker-green);
    font-family: var(--heading);
    font-size: 20px;
    border: 0px solid transparent;
    border-radius: 15px;
    position: absolute;
    top: -20px;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.recipe-info-button-step2 {
    width: 150;
    height: 35px;
    background-color: white;
    color: var(--darker-green);
    font-family: var(--heading);
    font-size: 20px;
    border: 0px solid transparent;
    border-radius: 15px;
    position: absolute;
    top: -20px;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    z-index: 3;
}

.recipe-info-button-com2 {
    width: 150;
    height: 35px;
    background-color: white;
    color: var(--darker-green);
    font-family: var(--heading);
    font-size: 20px;
    border: 0px solid transparent;
    border-radius: 15px;
    position: absolute;
    top: -20px;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.recipe-info-button-ing3 {
    width: 150;
    height: 35px;
    background-color: white;
    color: var(--darker-green);
    font-family: var(--heading);
    font-size: 20px;
    border: 0px solid transparent;
    border-radius: 15px;
    position: absolute;
    top: -20px;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.recipe-info-button-step3 {
    width: 150;
    height: 35px;
    background-color: white;
    color: var(--darker-green);
    font-family: var(--heading);
    font-size: 20px;
    border: 0px solid transparent;
    border-radius: 15px;
    position: absolute;
    top: -20px;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    z-index: 2;
}

.recipe-info-button-com3 {
    width: 150;
    height: 35px;
    background-color: white;
    color: var(--darker-green);
    font-family: var(--heading);
    font-size: 20px;
    border: 0px solid transparent;
    border-radius: 15px;
    position: absolute;
    top: -20px;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.5);
    z-index: 3;
}

.ingredient-div {
    display: flex;
}

.steps-div {
    display: none;
}

.comment-div {
    display: none;
}

.user-picture {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    border: 4px solid var(--darker-orange);
    object-fit: cover;
}

.step-circle {
    color: white;
    font-weight: bold;
    font-size: 30;   
}

.step-circle-container {
    background-color: var(--lighter-orange);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 20px;    
}

.step-text {
    margin-left: 20px;
}

.step-info {
    margin-top: 20px;
}

.comment-info {
    margin-top: 20px;
}

.user-container {
    height: 50px;
    width: 50px;
}

.comment-text {
    margin-left: 40px;
}

.comment-content {
    font-size: 12px;
    margin-top: -10px;
}

.buttons1 {
    display: flex;
}

.buttons2 {
    display: none;
}

.buttons3 {
    display: none;
}

.amount {
    font-family: var(--heading);
    color: var(--darker-green);
}

.amount-content {
    font-size: 12px;
}

.amount-container {
    margin-bottom: 20px;
}

.article-title-container {
    margin-bottom: -15px;
}
