<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>

</head>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
        {% block header %}
            
        {% endblock %}   
        </div>
    </div>

    <div class="row mx-auto">
        <div class="col-md-4">
            <div class="agenda-container">  
                <img src="assets/img/verrukkulluk-agenda.png" class="agenda-image"/>

                {% for i in 0..4 %}
                    <div class="agenda-text-container">
                        <img src="assets/img/calendar.svg" class="agenda-icon"></img>
                        <div>
                            <h3 class="agenda-text">Vegetarisch koken</h3>
                            <span>Een workshop vegetarisch koken, onder leiding van John de Bever</span>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="login-container">
                <img src="assets/img/verrukkulluk-login.png" class="login-image">
                <p class="login-text">Email</p>
                <p class="login-white-spaces"></p>
                <p class="login-text">Wachtwoord</p>
                <p class="login-white-spaces"></p>
                <button type="button" class="login-button" className="">{{ "Login" }}</button>
            </div> 
        </div>
        <div class="col-md-8">            
            {%  block content %}

            {%  endblock %}
        </div>
    </div>


    <div class="row" style="margin-top: 25px">
            <div class="col-md-2 footer-container">    
                <img src="assets/img/verrukkulluk-pay-off.png" class="footer-image"/>
            </div>
            <div class="col-md-10 footer-container">
                <img src="assets/img/verrukkulluk-contact.png" class="footer-contact"/>
                <br>
                <br>
                <div class="footer-text">    
                    <p> Verrukkulluk.nl <br>
                        Poststraat 2b <br>
                        Sittard <br>
                        info@verrukkulluk.nl <br>
                    </p>
                </div>
            </div>
    </div>


</div>

</body>
